.imgcontainer{
	position: relative;
	text-align:center;
	float: left;
	margin: 2%;
}

.imglink{
	opacity: 1;
	display: block;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border: 1px solid #045FB4;
}

.hover{
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #045FB4;
	overflow: hidden;
	height:0;
	transition: .5s ease;
 }
 
.imgcontainer:hover .imglink{
	opacity: 0,2;
}
.imgcontainer:hover .hover{ 
	opacity: 0.8;
	bottom: 0;
	height: 100%;}
.imgcontainer:hover .textblock{display:none;}
.imgcontainer:hover h2{
	padding-top: 15%;
	color: #000;
	font-size: 2em;}
	
.textblock{
	position: absolute;
	width: 300px;
	left:0.1%;	
	bottom: 73.5%;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
}

.content h2{
	color: white;
	font-family: 'Calistoga', cursive;
	font-size: 1.5em;  
}

/*styling button*/
.details{ 
	margin-top: 10%;
	border: solid 3px #b1b1b1;
	font-family: 'Calistoga', cursive;
	font-size: 1.5em;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius: 10px;
	background-color: #c97c5b;
	color: black;
	opacity: 1;
}

.details a:link{
	color: black;
	text-decoration: none;
	opacity: 0.9;
}
 .details a:visited{
	color: black;
	text-decoration: none;
}
.details:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	opacity:2;
}
.details:active{  
	color:#045FB4;
	background-color: #BE1600;
	transform: translateY(4px);
}


.content h3{text-align:center;padding-right:10%;}
.caricon{padding-left: 33.33%;width:100%;}
.caricon h4{float:left;margin-bottom: -5px;}
.caricon img{float:left;}

