*{
	box-sizing: border-box;
}
.container{
	margin:0;
	height:auto;
	background-color: #e6e6e6;
}
/*clearing float for the rows*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*sets general settings for ALL columns*/
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*styling header*/
.logo {
	float: left;
	width: 30%;
	padding-left: 45%;
	padding-top: 2%;
}
.topright{
	width: 30%;
	float: right;
}
.topright h2{
	margin-left:35%;
	width: 60%;
	background-color:#c97c5b;
	border-radius: 10px;		
	text-align: center;
	font-size: 1.3em;
}
img.resize{
	padding-top: 10px;
	float: right;
	padding-right:0.5em;
}

/*styling navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 35%;
}

.topnav a {
  float: left;
  display: block;
  color: #f1f1f1;
  font-family: 'Calistoga', cursive;
  font-size: 1.25em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px 30px;
}

.active {
  background-color: #c97c5b;
  color: white;
  border-radius: 5px 30px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Calistoga', cursive;
  font-size: 1.25em;
  margin: 0;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  border-radius: 5px 30px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*end of navigation bar styling*/

/* start of styling slideshow container */
.slideshow-container {
  width: 450px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
 }
.fade img{border: 2px solid #045FB4;border-radius:10px;
			width:450px;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #c97c5b;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*end of styling slideshow-container*/

/*Main content styling*/
.content{
	border-left: 2px solid #045FB4;
	border-right: 2px solid #045FB4;
	font-family: 'Roboto', sans-serif;
}

.mainimg{
	border:1px solid #045FB4;
	border-radius: 5px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	}

.booking{
	padding: 1%;
	text-align: center;
}
.bookbtn{
	border: solid 3px #b1b1b1;
	font-family: 'Calistoga', cursive;
	font-size: 1.5em;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius: 10px;
	background-image: radial-gradient(white 20%,#c97c5b 80%);
}
.bookbtn:link, .bookbtn:visited{
	color: black;
	text-decoration: none;
}
.bookbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.bookbtn:active{
	background-image: radial-gradient(white 20%, #045FB4 80%);
	transform: translateY(4px);
}

/*Styling text*/
h1{
	color: #c97c5b;
	text-align:center;
	font-family: 'Calistoga', cursive;
	margin-bottom: 0.4em;
}
p{
	padding-left: 10%;
	padding-right: 10%;
	margin: 6px;
	text-indent: 2%;
	font-size:1.1em;
	width:100%;
	font-family: 'Roboto', sans-serif;
}
h2{
	padding-left: 3%;
}

footer {
	background-color: #045FB4;
	font-family: 'Calistoga', cursive;
	font-size:14px;
	height: auto;
	width: 100%;
}
.copyright h3{
	padding-top: 2%;
	padding-left: 1%;
}
#policies{padding-top: 2%;}

footer a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
}
footer a:link, footer a:visited{
	color: #ffffff;
	background-color: transparent;
}
footer a:active{
	color: #000000;
}
.media{
	width:100%;
	margin-top: -60px;	
}
.social{
	float:right;
	height: 40px;
	padding: 3px;
}


/*Media queries for smaller screens*/
@media screen and (max-width: 960px) {
	.topnav{padding-left:0;}
	.topright{width:50%;}
	.section iframe{margin-left:1%; margin-right:1%; width:96%;height:80%;}
	.contact2 iframe{margin-left:2%;width:96%;height:96%;}
	}
@media screen and (max-width: 680px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .resize{display:none;}
  .logo{padding-left: 2%;}
  #policies{padding-left:12%;width:100%;padding-bottom:3%;}
  .copyright{padding-left: 100px;width:100%;}
  .media{margin-top: -20px;padding-right:30%;}
  .slideshow-container, .slideshow-container img{width:313px;height:209px;}
  .motchecklist{float:none;padding-right:0;}
  .content{width:100%;}
  .section{float:none; margin-left:0; width:100%;padding-left:2%;}
  .contact1, .contact2, input[type=submit], input[type=reset]{
    width: 100%;
    margin-top: 0;
	margin-left: 0;
	float:left;
  }
  h1{font-size: 1.5em;}
  h2{font-size: 1.2em;}
  p{font-size: 1em;}
  .caricon {display: none;}
  .servicelist{font-size: 0.9em;}
  .section ul{font-size: 0.9em;}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
	right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
}
/* On smaller screens, decrease text size for slider */
@media only screen and (max-width: 768px) {
  .prev, .next{font-size: 11px}
  .dot{width:8px; height:8px;}
}